In [9]:
import pandas as pd
import numpy as np

In [10]:
data = {
    "Order_ID": range(1, 51),
    "Order_Date": pd.date_range(start="2024-01-01", periods=50, freq='D'),
    "Product": np.random.choice(["Laptop", "Mobile", "Headphones", "Keyboard", "Mouse"], 50),
    "Category": np.random.choice(["Electronics", "Accessories"], 50),
    "Quantity": np.random.randint(1, 6, 50),
    "Price": np.random.randint(500, 50000, 50)
}

df = pd.DataFrame(data)
df.head()

   Order_ID Order_Date     Product     Category  Quantity  Price
0         1 2024-01-01      Mobile  Electronics         4   6157
1         2 2024-01-02  Headphones  Accessories         5  28585
2         3 2024-01-03      Laptop  Accessories         5  12249
3         4 2024-01-04    Keyboard  Accessories         1   5370
4         5 2024-01-05      Mobile  Accessories         4  12521

In [11]:
df["Total_Sales"] = df["Quantity"] * df["Price"]
df.head()

   Order_ID Order_Date     Product     Category  Quantity  Price  Total_Sales
0         1 2024-01-01      Mobile  Electronics         4   6157        24628
1         2 2024-01-02  Headphones  Accessories         5  28585       142925
2         3 2024-01-03      Laptop  Accessories         5  12249        61245
3         4 2024-01-04    Keyboard  Accessories         1   5370         5370
4         5 2024-01-05      Mobile  Accessories         4  12521        50084

In [12]:
total_revenue = df["Total_Sales"].sum()
total_orders = df["Order_ID"].count()

print("Total Revenue:", total_revenue)
print("Total Orders:", total_orders)

Total Revenue: 3953107
Total Orders: 50

In [13]:
product_sales = df.groupby("Product")["Total_Sales"].sum().sort_values(ascending=False)
product_sales

Product
Mobile        1013279
Mouse          897621
Laptop         776008
Keyboard       748053
Headphones     518146
Name: Total_Sales, dtype: int64

In [14]:
category_sales = df.groupby("Category")["Total_Sales"].sum()
category_sales

Category
Accessories    1896676
Electronics    2056431
Name: Total_Sales, dtype: int64

In [15]:
df["Month"] = df["Order_Date"].dt.month

monthly_sales = df.groupby("Month")["Total_Sales"].sum()
monthly_sales

Month
1    1982669
2    1970438
Name: Total_Sales, dtype: int64

In [16]:
df.to_csv("week2_sales_analysis_output.csv", index=False)